@model TimeSheetViewModel

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Days of the Week</th>
            <th scope="col">Time In</th>
            <th scope="col">Time Out</th>
            <th scope="col">Calculated Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Sunday</th>
            <td><input class="form-control" type="time"></td>
            <td><input class="form-control" type="time"></td>
            <td></td>

        </tr>
        <tr>
            <th scope="row">Monday</th>
            <td><input class="form-control" type="time"></td>
            <td><input class="form-control" type="time"></td>
            <td>fat</td>
        </tr>
        <tr>
            <th scope="row">Tuesday</th>
            <td><input class="form-control" type="time"></td>
            <td><input class="form-control" type="time"></td>
            <td>twitter</td>
        </tr>
        <tr>
            <th scope="row">Wednesday</th>
            <td><input class="form-control" type="time"></td>
            <td><input class="form-control" type="time"></td>
            <td>twitter</td>
        </tr>
        <tr>
            <th scope="row">Thursday</th>
            <td><input class="form-control" type="time"></td>
            <td><input class="form-control" type="time"></td>
            <td>twitter</td>
        </tr>
        <tr>
            <th scope="row">Friday</th>
            <td><input class="form-control" type="time"></td>
            <td><input class="form-control" type="time"></td>
            <td>twitter</td>
        </tr>
        <tr>
            <th scope="row">Saturday</th>
            <td><input class="form-control" type="time"></td>
            <td><input class="form-control" type="time"></td>
            <td>twitter</td>
        </tr>
    </tbody>
</table>