<a asp-area="" asp-controller="TimeSheet" asp-action="CurrentTimeSheetReport">Current TimeSheet Report</a>
<a asp-area="" asp-controller="TimeSheet" asp-action="CurrentPayPeriodWorkDays">Current Pay Period Work Days</a>