

<br />
<div id="reportLinks">
    <a asp-area="" asp-controller="TimeSheet" asp-action="CurrentTimeSheetReport">Current TimeSheet Report</a>
    <br />
    <br />
    <a asp-area="" asp-controller="TimeSheet" asp-action="CurrentPayPeriodWorkDays">Current Pay Period Work Days</a>
</div>


