@model WorkDay

<form asp-action="AddWorkDay" method="POST">
    <label asp-for="ClockIn">Clock In Time:</label>
    <input asp-for="ClockIn" type="datetime-local" />
    <label asp-for="ClockOut">Clock Out Time:</label>
    <input asp-for="ClockOut" type="datetime-local" />
    <button type="submit">Add</button>
</form>


@*<table class="table table-bordered">
    <thead class="thead-dark">
    </thead>
    <tbody>
        <tr>
            <td><label asp-for="ClockIn">Clock In Time:</label></td>
            <td><input asp-for="ClockIn" type="datetime-local" /></td>
            <td><label asp-for="ClockOut">Clock Out Time:</label></td>
            <td><input asp-for="ClockOut" type="datetime-local" /></td>
            <td><button type="submit" class="btn btn-dark btn-group-sm">Add</button></td>
        </tr>
    </tbody>
<<<<<<< HEAD
</table>
-->
<form asp-action="AddWorkDay" method="POST">
    <div id="Payrollcontainer">
        <div class="row d-flex" id="WorkDayUpperHalf">
            <div class="col-sm-4">
                PayPeriod<br />
                Start Date - End Date
            </div>
            <div class="col-sm-4">
                Name<br />
                ID<br />
                Dept<br />
                Title<br />
                Email
            </div>
            <div class="col-sm-4">
                Supervisor
            </div>
=======
</table>*@


@*<div id="Payrollcontainer">
    <div class="row d-flex" id="WorkDayUpperHalf">
        <div class="col-sm-4">
            PayPeriod<br />
            Start Date - End Date
        </div>
        <div class="col-sm-4">
            Name<br />
            ID<br />
            Dept<br />
            Title<br />
            Email
        </div>
        <div class="col-sm-4">
            Supervisor
        </div>
    </div>
    <div class="row d-flex" id="WorkDayLowerHalf">
        <div class="col-sm-3">
            <label asp-for="ClockIn">Clock In Time:</label>
        </div>
        <div class="col-sm-3">
            <input asp-for="ClockIn" type="datetime-local" />
>>>>>>> ab0cc3071c4f13731ce6c6db076f477e5c2595c3
        </div>
        <div class="row d-flex" id="WorkDayLowerHalf">
            <div class="col-sm-3">
                <label asp-for="ClockIn">Clock In Time:</label>
            </div>
            <div class="col-sm-3">
                <input asp-for="ClockIn" type="datetime-local" id="ClockIn" value="2018-12-13T09:30:00" />
            </div>
            <div class="col-sm-3">
                <label asp-for="ClockOut">Clock Out Time:</label>
            </div>
            <div class="col-sm-3">
                <input asp-for="ClockOut" type="datetime-local" id="ClockOut" value="2018-12-13T11:30:00" />
            </div>
        </div>
        <div class="row d-flex" id="WorkDayButton">
            <div class="col-sm-12">
                <button type="submit" onclick="myFunction()" class="btn btn-dark btn-group-sm">Add</button>
            </div>
        </div>
    </div>
<<<<<<< HEAD
</form>
<!--<script src="~/js/site.js"></script>-->
=======
    <div class="row d-flex" id="WorkDayButton">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-dark btn-group-sm">Add</button>
        </div>
    </div>
</div>*@
>>>>>>> ab0cc3071c4f13731ce6c6db076f477e5c2595c3
