@model WorkDay
<!--
<form asp-action="AddWorkDay" method="POST">
    <label asp-for="ClockIn">Clock In Time:</label>
    <input asp-for="ClockIn" type="datetime-local" />
    <label asp-for="ClockOut">Clock Out Time:</label>
    <input asp-for="ClockOut" type="datetime-local" />
    <button type="submit">Add</button>
</form>
    -->
<!--
<table class="table table-bordered">
    <thead class="thead-dark">
    </thead>
    <tbody>
        <tr>
            <td><label asp-for="ClockIn">Clock In Time:</label></td>
            <td><input asp-for="ClockIn" type="datetime-local" /></td>
            <td><label asp-for="ClockOut">Clock Out Time:</label></td>
            <td><input asp-for="ClockOut" type="datetime-local" /></td>
            <td><button type="submit" class="btn btn-dark btn-group-sm">Add</button></td>
        </tr>
    </tbody>
</table>--> 

<form asp-action="AddWorkDay" method="POST">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Pay Period<br />
                Start Date - End Date</td>
                <td>
                    Name<br />
                    Employee ID<br />
                </td>
                <td>
                    Dept<br />
                    Title<br />
                </td>
                <td>
                    Title<br />
                    Email<br />
                </td>
                <td>
                    Supervisor
                </td>

            </tr>
            <tr>
                <td><label asp-for="ClockIn">Clock In Time:</label></td>
                <td><input asp-for="ClockIn" type="datetime-local" id="ClockIn" value="2018-12-13T09:30:00" /></td>
                <td><label asp-for="ClockOut">Clock Out Time:</label></td>
                <td><input asp-for="ClockOut" type="datetime-local" id="ClockOut" value="2018-12-13T11:30:00" /></td>
                <td><button type="submit" onclick="myFunction()" class="btn btn-dark btn-group-sm">Add</button></td>
            </tr>
        </tbody>
    </table>
</form>
<!--<script src="~/js/site.js"></script>-->