@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model User

@{
    ViewData["Title"] = "Home Page";
}

<div id="HomeOpen">

    <div id="textbox" style="background-color:rgba(0, 39, 65, 0.65);">

        @if (SignInManager.IsSignedIn(User))
        {
            
            <h1>Thanks for logging in @Model.FirstName </h1>
        }
        else
        {
            <h1>Welcome to Timesheet</h1>
            <P>Please Login or Register</P>
        }

    </div><!--End of textbox div-->
</div><!--End of Home Open-->
